<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>568962233431-gur3couvehbfom31nhrcbslgglbfooon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568962233431-gur3couvehbfom31nhrcbslgglbfooon</string>
	<key>API_KEY</key>
	<string>AIzaSyCx684WixvFJqeAs9bh2TYD4Hrxi8z0ycA</string>
	<key>GCM_SENDER_ID</key>
	<string>568962233431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.OK</string>
	<key>PROJECT_ID</key>
	<string>mobile-ok</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-ok.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568962233431:ios:6fccd3af79565d22</string>
	<key>DATABASE_URL</key>
	<string>https://mobile-ok.firebaseio.com</string>
</dict>
</plist>